{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Librarian Account</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{% static 'librarian/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'librarian/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'librarian/vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{% static 'librarian/vendors/flag-icon-css/css/flag-icon.min.css' %}" />
  <link rel="stylesheet" href="{% static 'librarian/vendors/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'librarian/vendors/jquery-bar-rating/fontawesome-stars-o.css' %}">
  <link rel="stylesheet" href="{% static 'librarian/vendors/jquery-bar-rating/fontawesome-stars.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'librarian/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'librarian/images/favicon.png' %}" />

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" style="color: white; background-image: white;" href="{% url 'lib-home' %}">
          <img src="{% static 'librarian/images/icons8-library-building-50.png' %}"
            style="width: 40px; height: 40px; margin-right: 2px; color: white;">LIBRARY</a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'lib-home' %}">
          <img src="{% static 'librarian/images/logo-mini.svg' %}" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <!-- <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" placeholder="Search Projects.." aria-label="search"
                aria-describedby="search">
            </div> -->
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">

          <li class="nav-item dropdown d-flex mr-4 ">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center"
              id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
              aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
              <a class="dropdown-item preview-item" href="{% url 'lib-profile' %}">
                <i class="icon-head"></i> Profile
            </a>
              <a class="dropdown-item preview-item" href="{% url 'main-librarian-login' %}">
                <i class="icon-inbox"></i> Logout
              </a>
            </div>
          </li>

        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        {% for i in profile %}
      <div class="user-profile">
        <div class="user-image">
          <img src="/media/{{i.librarian_photo}}">
        </div>
        {% endfor %}
        <div class="user-name">
          Librarian
        </div>
        <!-- <div class="user-designation">
            Developer
        </div> -->
      </div>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lib-home' %}">
            <i class="icon-box menu-icon"></i>
            <span class="menu-title">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <i class="icon-book menu-icon"></i>
            <span class="menu-title">Book Management</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="{% url 'lib-add-book' %}">Add Books</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'lib-search' %}">Search Panel</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'lib-issue-book' %}">Request Panel</a></li>
              <li class="nav-item"> <a class="nav-link" href="{% url 'lib-return-book' %}">Issue Panel</a></li>


              <!-- <li class="nav-item"> <a class="nav-link" href="{% url 'lib-issued-book' %}">View Issued & Returned 
                  Books</a></li>-->

            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'lib-sentiment' %}">
            <i class="icon-help menu-icon"></i>
            <span class="menu-title">Sentiment Analysis</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lib-feedback' %}">
            <i class="icon-air-play menu-icon"></i>
            <span class="menu-title">FeedBack</span>
          </a>
        </li>
      </ul>
    </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12 mb-4 mb-xl-0">
              <h4 class="font-weight-bold text-dark text-center">Librarian Add Books</h4> <br><br>
            </div>
          </div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-xl-8 grid-margin-lg-0 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <form class="forms-sample" method="post" onsubmit='return loginvalidation();' name='myform' enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group text-dark">
                          <label for="exampleInputUsername1">Book Title</label>
                          <input type="text" class="form-control" style="font-weight: bolder;" placeholder="booktitle" name="tit">
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group text-dark">
                          <label for="exampleInputUsername1">Author Name</label>
                          <input type="text" class="form-control" style="font-weight: bolder;"  placeholder="authorname" name="auth">
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group text-dark">
                          <label for="exampleInputUsername1"> Department
                          </label>
                          <input type="text" class="form-control" style="font-weight: bolder;" placeholder="department" name="dep">
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group text-dark">
                          <label for="exampleInputUsername1">Publisher</label>
                          <input type="text" class="form-control" style="font-weight: bolder;" placeholder="publisher" name="pub">
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group text-dark">
                          <label for="exampleInputUsername1">Edition</label>
                          <input type="text" class="form-control" style="font-weight: bolder;" placeholder="edition" name="edi">
                        </div>
                      </div>
                      
                      <div class="col-6">
                        <div class="form-group text-dark">
                          <label for="exampleInputPassword1">Upload Photo</label>
                          <input type="file" class="form-control" style="font-weight: bolder;" id="customFile" name="photo" placeholder="photo">
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group text-dark">
                          <label for="exampleInputUsername1">Description</label>
                          <textarea type="text" class="form-control" style="font-weight: bolder;" placeholder="Description" rows="5" name="Discription"></textarea>
                        </div>
                      </div>
                    </div>
                    <center>
                      <button type="submit"  class="text-white btn btn-primary font-weight-bold">Add Books</button> 
                    </center>  
                  </form>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
        <!-- content-wrapper ends -->
{% if messages %}              
{% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <script>swal({
    title: "Success!",
    text: "{{message}}",
    icon: "success",
    button: "OK",
    });
    </script>
    
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <script>swal({
        title: "Warning :)",
        text: "{{message}}",
        icon: "warning",
        button: "OK",
        });
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
    <script>swal({
    title: "error :)",
    text: "{{message}}",
    icon: "error",
    button: "OK",
    });
</script>
{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <script>swal({
    title: "error :)",
    text: "{{message}}",
    icon: "error",
    button: "OK",
    });
</script>
    {% endif %}              
{% endfor %} 
{% endif %}
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Web Based College
              Library Management System
              2020</span>

          </div>
          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block mt-2">Designed By <a
              href="https://codebook.in/" target="_blank">CodeBook.in</a></span>
        </footer>

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src="{% static 'librarian/vendors/base/vendor.bundle.base.js' %} "></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'librarian/js/off-canvas.js' %} "></script>
  <script src="{% static 'librarian/js/hoverable-collapse.js' %} "></script>
  <script src="{% static 'librarian/js/template.js' %} "></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="{% static 'librarian/vendors/chart.js/Chart.min.js' %} "></script>
  <script src="{% static 'librarian/vendors/jquery-bar-rating/jquery.barrating.min.js' %} "></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="{% static 'librarian/js/dashboard.js' %} "></script>
  <!-- End custom js for this page-->

  <!-- js validations -->
  <script type="text/javascript">
    function loginvalidation(){
        var Booktitle = document.myform.tit;
        var Authorname = document.myform.auth;
        var Department = document.myform.dep;
        var Publisher = document.myform.pub;
        var Edition = document.myform.edi;
        // var Editionformat = /^(?=.*[0-9])\w+[a-zA-Z])/;
        var Photo = document.myform.photo;
        var Description = document.myform.Discription
       

          if (Booktitle.value == "") {
            alert("Please Enter Your Book Name:");
            Booktitle.focus();
            return false;
          }
          if (Authorname.value == "") {
            alert("Please Enter Your Author Name:");
            Authorname.focus();
            return false;
          }
          if (Department.value == "") {
            alert("Please Enter Your Department:");
            Department.focus();
            return false;
          }
          if (Publisher.value == "") {
            alert("Please Enter Your Publisher Name:");
            Publisher.focus();
            return false;
          }
          if (Edition.value == "") {
              alert("Please Enter Your Edition:");
              Edition.focus();
              return false;
          }
          // if (!Email.value.match(mailformat)) {
          //     alert("Invalid Email address format");
          //     Email.focus();
          //     return false;
          // }
          if (Photo.value == "") {
              alert("Please Upload Profile Image:");
              Photo.focus();
              return false;
          }
          if (Description.value == "") {
              alert("Please Enter Your Book Description:");
              Description.focus();
              return false;
          }
        
        return true;
    }
</script>

</body>

</html>