{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Admin Account</title>
        <!-- base:css -->
        <link rel="stylesheet" href="{% static 'admin/vendors/mdi/css/materialdesignicons.min.css' %} ">
        <link rel="stylesheet" href="{% static 'admin/vendors/feather/feather.css' %} ">
        <link rel="stylesheet" href="{% static 'admin/vendors/base/vendor.bundle.base.css' %} ">
        <!-- endinject -->
        <!-- plugin css for this page -->
        <link rel="stylesheet" href="{% static 'admin/vendors/flag-icon-css/css/flag-icon.min.css' %} " />
        <link rel="stylesheet" href="{% static 'admin/vendors/font-awesome/css/font-awesome.min.css' %} ">
        <link rel="stylesheet" href="{% static 'admin/vendors/jquery-bar-rating/fontawesome-stars-o.css' %} ">
        <link rel="stylesheet" href="{% static 'admin/vendors/jquery-bar-rating/fontawesome-stars.css' %} ">
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="{% static 'admin/css/style.css' %} ">
        <!-- endinject -->
        <link rel="shortcut icon" href="{% static 'admin/images/favicon.png' %} " />
    </head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
          <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" style="color: white; background-image: white;" href="{% url 'adm-dashboard' %}">
              <img src="{% static 'admin/images/icons8-library-building-50.png' %}" style="width: 40px; height: 40px; margin-right: 2px; color: white;">LIBRARY</a>
            <a class="navbar-brand brand-logo-mini" href="{% url 'adm-add-librarian' %}">
              <img src="{% static 'admin/images/logo-mini.svg' %}"alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="icon-menu"></span>
            </button>
            <ul class="navbar-nav mr-lg-2">
              <li class="nav-item nav-search d-none d-lg-block">
                <!-- <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="search">
                      <i class="icon-search"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Search Projects.." aria-label="search"
                    aria-describedby="search">
                </div> -->
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown d-flex mr-4 ">
                <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center"
                  id="notificationDropdown" href="#" data-toggle="dropdown">
                  <i class="icon-cog"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                  aria-labelledby="notificationDropdown">
                  <p class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
                  <!-- <a class="dropdown-item preview-item">
                    <i class="icon-head"></i> Profile
                  </a> -->
                  <a class="dropdown-item preview-item" href="{% url 'main-admin-login' %}">
                    <i class="icon-inbox"></i> Logout
                  </a>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
              data-toggle="offcanvas">
              <span class="icon-menu"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
              <div class="user-profile">
                  <div class="user-image">
                      <img src="{% static 'admin/images/faces/face1.jpg' %}">
                  </div>
                  <div class="user-name">
                      Admin
                  </div>
              </div>
              <ul class="nav">
                  <!-- home start -->
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'adm-dashboard' %}">
                          <i class="icon-box menu-icon"></i>
                          <span class="menu-title">Home</span>
                      </a>
                  </li>
                  <!-- home end -->
      
                  <!-- librarian start -->
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                          <i class="icon-head menu-icon"></i>
                          <span class="menu-title">Library</span>
                          <i class="menu-arrow"></i>
                      </a>
      
                      <div class="collapse" id="ui-basic">
                          <ul class="nav flex-column sub-menu">
                              <li class="nav-item"> <a class="nav-link" href="{% url 'adm-add-librarian' %} ">Add Librarian</a></li>
                              <li class="nav-item"> <a class="nav-link"
                                      href="{% url 'adm-manage-librarian' %} ">Management Librarian</a></li>
                          </ul>
                      </div>
                  </li>
                  <!-- librarian end -->
      
                  <!-- student start -->
                  <li class="nav-item">
                      <a class="nav-link" data-toggle="collapse" href="#std" aria-expanded="false" aria-controls="ui-basic">
                          <i class="icon-head menu-icon"></i>
                          <span class="menu-title">Student</span>
                          <i class="menu-arrow"></i>
                      </a>
      
                      <div class="collapse" id="std">
                          <ul class="nav flex-column sub-menu">
                              <li class="nav-item"> <a class="nav-link" href="{% url 'adm-manage-std' %}">Manage Student</a></li>
                              <li class="nav-item"> <a class="nav-link" href="{% url 'adm-view-std' %}">View Students</a></li>
                              
                          </ul>
                      </div>
                  </li>
                  <!-- student end -->
      
                  <!-- View start -->
                  <!-- <li class="nav-item">
                      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                          <i class="icon-book menu-icon"></i>
                          <span class="menu-title">View Books</span>
                          <i class="menu-arrow"></i>
                      </a>
                      <div class="collapse" id="auth">
                          <ul class="nav flex-column sub-menu">
                              <li class="nav-item"> <a class="nav-link" href="{% url 'adm-search-book' %}">Search Books</a></li>
                              <li class="nav-item"> <a class="nav-link" href="{% url 'adm-view-std-rece-book' %}">View Std Received Books</a></li>
                              <li class="nav-item"> <a class="nav-link" href="{% url 'adm-view-return' %}">View Std Returned Books</a></li>
                              <li class="nav-item"> <a class="nav-link" href="{% url 'adm-view-all-book' %}">View All Books</a></li>
                              <li class="nav-item"> <a class="nav-link" href="{% url 'adm-manage-book' %}">Manage Books</a></li>
                          </ul>
                      </div>
                  </li> -->
                  <!-- View end -->
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'adm-sentiment' %}">
                        <i class="icon-help menu-icon"></i>
                        <span class="menu-title">Sentiment Analysis</span>
                    </a>
                </li>
                  <!-- feedback start -->
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'adm-feedback' %}">
                          <i class="icon-air-play menu-icon"></i>
                          <span class="menu-title">feedback</span>
                      </a>
                  </li>
                  <!-- feedback end -->
              </ul>
          </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                  <div class="row">
                    <div class="col-sm-12 mb-4 mb-xl-0">
                      <h4 class="font-weight-bold text-dark text-center">View Returned Books By Student</h4>
                      
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-xl-4 grid-margin stretch-card">
                          
                      </div>
                      <div class="col-xl-4 grid-margin stretch-card">
                        
                      </div>
                      <div class="col-xl-4 grid-margin stretch-card">
                        
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table table-hover">
                              <thead>
                                <tr class="font-weight-bold text-dark">
                                  <th>USER</th>
                                  <th>STD ID</th>
                                  <th>NAME</th>
                                  <!-- <th>EMAIL</th> -->
                                  <th>BOOK TITLE</th>
                                  <th>AUTHOR NAME</th>
                                  <th>EDUCATION</th>
                                  <th>YEAR</th>
                                  <!-- <th>ISSUED DATE</th> -->
                                  <th>RETURN DATE</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="py-1">
                                    <img src="{% static 'admin/images/faces/face1.jpg' %}" alt="image"/>
                                  </td>
                                  <td>IT6565</td>
                                  <td>Ranjith</td>
                                  <!-- <td>ranjithkuna1995@gmail.com</td> -->
                                  <th>Engineering Mathematics</th>
                                  <td>B.S. Grewal</td>
                                  <td>B.Tech-IT</td>
                                  <td>2nd Year</td>
                                  <!-- <td>02/may/22</td> -->
                                  <td>02/june/22</td>
                                </tr>
                                <tr>
                                  <td class="py-1">
                                    <img src="{% static 'admin/images/faces/face7.jpg' %}" alt="image"/>
                                  </td>
                                  <td>EEE6767</td>
                                  <td>Ajay</td>
                                  <!-- <td>ajayshetty96@gmail.com</td> -->
                                  <th>Electrical Circuit Analysis</th>
                                  <td>David Johnson</td>
                                  <td>B.Tech-EEE</td>
                                  <td>1st Year</td>
                                  <!-- <td>17/april/22</td> -->
                                  <td>17/may/22</td>
                                </tr>
                                <tr>
                                  <td class="py-1">
                                    <img src="{% static 'admin/images/faces/face13.jp' %}g" alt="image"/>
                                  </td>
                                  <td>MECH7676</td>
                                  <td>Sai Kiran</td>
                                  <!-- <td>saikiran92@gmail.com</td> -->
                                  <th>Fluid Mechanics and Hydraulic Machines</th>
                                  <td>R.K Bansal</td>
                                  <td>B.Tech-MECH</td>
                                  <td>1st Year</td>
                                  <!-- <td>24/june/22</td> -->
                                  <td>24/july/22</td>
                                </tr>
                                <tr>
                                  <td class="py-1">
                                    <img src="{% static 'admin/images/faces/face4.jpg' %}" alt="image"/>
                                  </td>
                                  <td>CIV6676</td>
                                  <td>Krishna</td>
                                  <!-- <td>krishnakittu98@gmail.com</td> -->
                                  <th>Structural Engineering</th>
                                  <td>W.F.Chen</td>
                                  <td>B.Tech-CIVIL</td>
                                  <td>3rd Year</td>
                                  <!-- <td>03/july/22</td> -->
                                  <td>03/aug/22</td>
                                </tr>
                                <tr>
                                  <td class="py-1">
                                    <img src="{% static 'admin/images/faces/face2.jpg' %}" alt="image"/>
                                  </td>
                                  <td>CSE8765</td>
                                  <td>Bhagya Rani</td>
                                  <!-- <td>Bhagyarani18@gmail.com</td> -->
                                  <th>Database Management Systems</th>
                                  <td>Krishna Pallaw Vijay</td>
                                  <td>B.Tech-CSE</td>
                                  <td>1st Year</td>
                                  <!-- <td>27/jan/22</td> -->
                                  <td>27/feb/22</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-xl-3 grid-margin-lg-0 grid-margin stretch-card">
                      
                    </div> -->
                  </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                  <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Web Based College Library Management System
                      2020</span>
                    <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
                        href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard templates</a> from
                      Bootstrapdash.com</span> -->
                  </div>
                  <span class="text-muted d-block text-center text-sm-left d-sm-inline-block mt-2">Designed By <a
                      href="https://codebook.in/" target="_blank">CodeBook.in</a></span>
                </footer>
                
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- base:js -->
    <script src="{% static 'admin/vendors/base/vendor.bundle.base.js' %} "></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'admin/js/off-canvas.js' %} "></script>
    <script src="{% static 'admin/js/hoverable-collapse.js' %} "></script>
    <script src="{% static 'admin/js/template.js' %} "></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'admin/vendors/chart.js/Chart.min.js' %} "></script>
    <script src="{% static 'admin/vendors/jquery-bar-rating/jquery.barrating.min.js' %} "></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'admin/js/dashboard.js' %} "></script>
    <!-- End custom js for this page-->
</body>

</html>